ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}
.address-link {
  display: flex;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.main-title {
  width: 496px;
  max-width: 496px
  margin-bottom: 8px
}
.main-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  align-items: stretch;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  line-height: 1.07em; /* 107.143% */
  letter-spacing: 0.02em;
}
.descr-title {
  color: rgba(0%, 0%, 0%, 0%);
}
.title-team {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.title-portfolio {
  align-items: center;
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 60px;
  padding-bottom: 72px;
}
.team-color {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer-logo {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.top-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.navlink {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navlink:hover,
.navlink:focus {
  color: #404bbf;
}
.address-link {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
}
.hero-color {
  background-color: #2e2f42;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  min-width: 169px
  margin-top: 48px;
  margin-bottom: 188px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  border: none;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.small-titles {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex-shrink: 0;
  margin-top: 32px;
}
.text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  margin-top: 8px;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px
   display: inline-block;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
  margin-top: 17.5px;
  w264
}
.footer-color {
  background-color: #2e2f42;
  padding: 100px 0;
  padding-top: 60px;
}
.pic-color {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center
}
.nav .link-list {
  display: flex;
  align-items: center;
  gap: 40px;
  
}
.header-div {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}
.nav .logo {
  align-items: center;
  margin-right: 76px;
  display: inline-block
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu {
  padding: 24px 0 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
   
}
.flex-small-titles {
  display: flex;
  gap: 24px;
}
.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.team-container {
}
.team {
  display: flex;
  gap: 24px;
}
.portfolio-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.descr-section {
   padding: 188px 0 188px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}
.portfolio-container {
  margin-bottom: 8px;
}